// Страница каталога //

// Шапка //
.header {
  &__page-bottom {
    padding: 50px 0;
  }

  &__page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
  }
}

// Основной контент //

// Каталог товаров
.catalog {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

// Фильтр товаров
.filter {
  &_wrapper {
    max-width: 260px;
  }

  &__field {
    margin: 0;
    padding: 0;

    border: none;
  }

  &__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__label {
    line-height: 20px;
    color: $second-color;
  }

  &__button {
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $main-color;

    background-color: #eeeeee;
    border: none;
  }
}

// Счетчик цены
.value-range {
  &__label {
    line-height: 22px;
    text-transform: uppercase;
    color: $second-color;
  }
}

// Товары
.products {
  max-width: 760px;
}

// Сортировка товаров
.sorting {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__buttons {
    max-width: 360px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &+& {
      margin-left: 25px;
    }
  }

  &__button {
    font: inherit;

    font-size: 14px;
    font-weight: 18px;
    text-transform: uppercase;
    color: $main-color;
  }
}

// Список товаров
.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    max-width: 360px;
  }

  &__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    line-height: 18px;
    color: #666666;
  }
}

// Пагинатор
.paginator {
  &__link {
    font: inherit;

    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $main-color;

    background-color: #eeeeee;
  }
}