// Главаная страница //

// Шапка //
.header {
  background-color: #eeeeee;
}

// Верхняя панель
.header__top {
  padding-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

// Логотип
.logo {
  width: 160px;
}

// Навигация
.navigation {
  width: 440px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $main-color;
  }
}

// Корзина
.cart {
  width: 140px;

  &__link {
    color: $main-color;
  }
}

// Нижняя панель

// Преимущества
.advantages {
  &__title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
  }

  &__description {
    color: $second-color;
  }
}

// Основной контент //

// Услуги
.services {
  padding: 80px 0;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 300px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__description {
    color: $second-color;
  }
}

// Студия
.studio {
  padding-top: 40px;
  padding-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__about-us {
    width: 660px;
  }

  &__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
  }

  &__description {
    color: $second-color;
  }

  // О нас
  &__services {
    &-title {
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;

      color: $second-color;
    }
  }

  // Статистика студии
  &__stats {
    width: 360px;

    &-title {
      font-weight: 700;
      text-transform: uppercase;
    }

    &-percent {
      font-size: 45px;
      line-height: 10px;
      font-weight: 700;
    }

    &-text {
      line-height: 18px;
      color: $second-color;
    }
  }
}

// Студии
.studios {
  display: flex;
  justify-content: space-between;

  &__link {
    width: 260px;
  }
}

// Контакты
.contacts {
  &__name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  &__address {
    line-height: 18px;
    color: #666666;
  }

  &__phone {
    line-height: 18px;
    color: #666666;
  }
}

// Футер //
.footer {
  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }

  &__text {
    line-height: 22px;
    color: #444444;
  }
}

// Модальные окна //

// Попап
.popup {
  &__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
  }
}

// Форма обратной связи
.feedback {
  &__label {
    line-height: 18px;
    font-weight: 700;
    color: $main-color;
  }
}